aside {
    position: fixed !important;
}

.ck-editor__editable_inline {
    min-height: 300px;
}

.alerts {
    width: max(500px, 25%);
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding-right: 1rem;
}

.my-icon-container {
    position: relative;
    padding: 10px 10px 10px 58px;
}

.my-icon {
    width: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.nav-icon-container {
    padding-top: 0; 
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0.4rem !important;
    padding-left: 0.4rem !important;
}

.nav-icon {
    width: 50px;
}

.navbar-badge {
    right: 5px;
    top: 0px;
    font-size: .9rem;
}

.alert {
    position: relative;
    padding-left: 90px;
}

.alerts-icon {
    position: absolute;
    top: 50%;
    left: 5px;
    width: 75px;
    transform: translateY(-50%);
}

